* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.popup {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    background-image: url("./assets/textbg.png");
    left: 25vw;
    background-size: 100%;
    width: 50vw;
    height: 10vw;
    padding: 3rem;
    font-size: 3rem;
    font-family: VT323, monospace;
    color: white;
}

.block {
    top: 0;
    left: 0;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 4rem;
    display: none;
    z-index: 3;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

@media (max-width: 850px) {
    .block {
        display: block;
    }
}

@media (max-height: 850px) {
    .block {
        display: block;
    }
}

.instructions {
    color: white;
    position: absolute;
    font-family: 'VT323', monospace;
    font-size: 4rem;
    width: 70vw;
    height: 70vh;
    top: 15vh;
    left: 15vw;
    border-radius: 1rem;
    box-shadow: black 5px 5px;
    outline: darkgoldenrod 8px solid;
    background-color: cadetblue;
    z-index: 2;
}